.site-banner {
  text-align: center
}

.site-banner h1.page-title {
  font-size: 7.2em;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -.02em;
  text-transform: capitalize;
  color: var(--dark-color)
}

.breadcrumbs a:hover {
  color: var(--accent-color)
}

.breadcrumbs {
  color: var(--accent-color)
}

.breadcrumbs .item {
  text-transform: capitalize
}

@media screen and (max-width: 1099px) {
  .site-banner h1.page-title {
    font-size: 6em
  }
}

@media screen and (max-width: 768px) {
  .site-banner h1.page-title {
    font-size: 4.6em
  }
}

@media screen and (max-width: 600px) {
  .site-banner h1.page-title {
    font-size: 3.2em
  }
}

.section-header {
  width: 100%;
  padding-bottom: 20px
}

.section-title {
  font-size: 2.6em;
  font-weight: 700
}

h5.widget-title {
  letter-spacing: 0;
  font-size: 1.3em;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px
}

h2.product-title {
  font-size: 2.6em;
  margin: 0
}

.breadcrumbs span {
  display: inline-block
}

.secondary-nav,
.secondary-nav p {
  line-height: 2.5em
}

.secondary-nav li {
  padding-right: 10px
}

.secondary-nav li:last-child {
  padding-right: 0
}

.secondary-nav a {
  color: var(--accent-color)
}

.secondary-nav a:hover {
  color: var(--dark-color)
}

.secondary-nav ul,
.secondary-nav li,
.secondary-nav p {
  margin-bottom: 0
}

@media only screen and (max-width: 768px) {

  .header-contact,
  .shipping-purchase {
    display: none
  }
}

.stellarnav ul ul {
  background: var(--dark-color)
}

.stellarnav ul ul a {
  color: var(--light-color)
}

.menu-list a.item-anchor {
  text-transform: capitalize
}

.menu-list a.item-anchor.active {
  color: var(--primary-color)
}

.menu-list a.item-anchor:hover {
  color: var(--primary-color)
}

.menu-item.has-sub .submenu a.item-anchor {
  padding-right: 15px
}

.menu-list .submenu a.item-anchor:hover {
  color: var(--light-color);
  background-color: #343434
}

.menu-list .submenu a.item-anchor.active {
  color: var(--light-color);
  background-color: #343434
}

.search-form input[type="search"].search-field {
  width: 100%;
  border: 2px solid var(--grey-color);
  transition: ease-in;
  transition-duration: .2s;
  border-radius: 50px;
  padding: 10px 40px
}

.search-form input[type="search"].search-field:focus {
  border: 2px solid var(--dark-color)
}

.search-form button {
  position: absolute;
  top: 6px;
  right: 9px;
  background: transparent;
  border: none;
  box-shadow: none
}

.search-popup {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s
}

.search-popup-container {
  background-color: transparent;
  position: relative;
  top: 50%;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-shadow: none;
  cursor: default;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.search-popup .cat-list-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: .6em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em
}

.search-popup .cat-list {
  margin: 0;
  list-style-type: none
}

.search-popup .cat-list-item {
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: .015em;
  font-size: 2em
}

.search-popup .cat-list-item a:hover::after {
  height: 1px;
  opacity: 1;
  -webkit-transform: translateY(2px);
  transform: translateY(2px)
}

.search-popup .cat-list-item::after {
  content: "/";
  padding: 0 5px;
  line-height: 1;
  vertical-align: text-top
}

.search-popup .cat-list-item:last-child::after {
  display: none
}

@media only screen and (max-width: 991px) {
  .search-popup .cat-list-item {
    font-size: 1.425em
  }
}

@media only screen and (max-width: 575px) {
  .search-popup .cat-list-item {
    font-size: 1.125em
  }
}

.search-popup input[type="search"] {
  font-size: 22px;
  height: 60px;
  padding: 26px
}

.search-popup .search-form button {
  position: absolute;
  top: 0;
  right: 8px;
  margin: 0;
  padding: 15px
}

.search-popup .search-form button i {
  font-size: 29px
}

.product-store .product-item {
  position: relative;
  margin-bottom: 30px
}

.product-item img.product-image {
  background: var(--light-color);
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%
}

.product-item .cart-concern {
  background: var(--light-color);
  width: 80%;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 300px;
  z-index: 9;
  transition: .5s ease-out;
  padding: 20px 30px;
  opacity: 0
}

.product-item:hover .cart-concern {
  bottom: 280px;
  opacity: 1
}

i.icon.icon-arrow-io {
  font-size: 12px
}

.cart-concern .cart-button button {
  background: none;
  color: var(--dark-color);
  height: auto;
  padding: 0;
  margin: 0
}

.cart-concern .cart-button button i.icon {
  color: var(--dark-color)
}

.product-item .wishlist-btn i.icon.icon-heart {
  font-size: 20px;
  padding-left: 25px
}

.product-item h3.product-title {
  font-size: 1.4em;
  margin: 0
}

.product-item .item-price {
  font-size: 1.8em
}

.tab-content {
  position: relative
}

[data-tab-content] {
  opacity: 0;
  visibility: hidden;
  display: grid;
  transition: cubic-bezier(0.22, 0.78, 0.71, 1.01);
  transition-duration: .8s
}

.active[data-tab-content] {
  opacity: 1;
  visibility: visible;
  height: auto
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px
}

.tabs .tab {
  font-weight: 500;
  color: var(--dark-grey-color);
  margin-right: 50px;
  cursor: pointer;
  transition: .2s all
}

.tabs .tab.active,
.tabs .tab:hover {
  color: var(--primary-color)
}

@media screen and (max-width: 991px) {
  #selling-products .tabs {
    flex-wrap: unset;
    overflow-x: scroll
  }
}

#instagram p {
  font-size: 1.1em
}

#shipping-information {
  padding-bottom: 100px
}

#shipping-information .icon-box {
  display: flex;
  align-items: baseline;
  border-right: 1px solid #EAEAEA;
  padding-right: 50px;
  margin-right: 50px
}

#shipping-information .icon-box:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0
}

#shipping-information .icon-box i.icon {
  font-size: 1.5em;
  color: var(--primary-color);
  padding-right: 15px
}

.icon-box h4.block-title {
  line-height: 1.2;
  font-weight: 400;
  margin: 20px 0
}

#footer .footer-menu {
  margin-right: 50px
}

.footer-menu ul.menu-list a {
  color: var(--accent-color)
}

.footer-menu ul.menu-list a:hover {
  color: var(--primary-color)
}

.footer-menu a.email {
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: 600
}

.social-links li {
  padding-right: 20px
}

#footer-bottom {
  margin-bottom: 30px
}

#footer-bottom p {
  margin-bottom: 0
}

.payment-method {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}

.payment-method img {
  object-fit: contain;
  height: fit-content
}

.shopify-grid .sidebar .widgets {
  margin-bottom: 40px
}

.shopify-grid input[type="text"] {
  width: 100%;
  height: 65px;
  background-color: var(--light-grey-color);
  border: 1px solid var(--grey-color);
  border-radius: 4px 0 0 4px;
  padding-left: 25px;
  margin-bottom: 0
}

@media only screen and (max-width: 991px) {
  .shopify-grid .sidebar .widgets {
    margin-top: 100px
  }
}

.shopify-grid .widget-search-bar .btn {
  margin: 0
}

.pagination .page-numbers,
.pagination .pagination-arrow {
  margin: 0 10px
}

.pagination .page-numbers {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--accent-color);
  padding: 0 10px;
  line-height: 1.4;
  transition: .9s all;
  border-radius: 8px
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
  color: var(--light-color);
  background-color: var(--primary-color)
}

.pagination i.icon {
  font-size: 1.5em
}

.site-banner {
  position: relative
}

.jarallax.min-height300 {
  min-height: 300px
}