@tailwind base;
@tailwind components;
@tailwind utilities;


html ,body {
  height : 100%;
  width: 100%;
}
.about_img{
  background-image: url("/images/single-image1.jpg");
  height: 100%;
  width: 50vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.content{
  height: 100%;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Comments{
  width: 90vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .rightquotes{
    height: 60%;
    width: 30%;
    color: #DBDBDB;
    padding-left: 30px;
  }

  .cards{
    height: 50px;
    width: 80vw;
  }
}
.slider {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  width: 70vw;
  flex-wrap: wrap;

  .detail{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .comments{
      width: 90%;
      font-size: 1.6rem;
    }

    .by{
      font-size: 1.3rem;
      padding-left: 10px;
      color: #6995B1;
    }
  }
}
.arrows{
  height: 30%;
  color: #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  .right-arrow {
    right: 32px;
    font-size: 2rem;
    color: #DBDBDB;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .left-arrow {
    left: 32px;
    font-size: 2rem;
    color: #DBDBDB;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: translateX(100%);
}
.slideactive {
  opacity: 1;
  transition-duration: 1s;
}
.shop_button{
  height: 80px;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.shop_link{
  width: 100%;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  .shop_button{
    font-size: 20px;
    width: 30vw;
  }
}
@media screen and (max-width:810px) {
  .about_us{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    .about_img{
      width: 80vw;
    }
    #content{
      display: flex;
      flex-direction: column;
      height: fit-content;
    }
  }
  .whyus{
    display: flex;
    flex-direction: column;
  }
  .footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width:670px) {
  .Comments{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }
  .rightquotes{
    margin-right: 50vw;
  }
  .shop_button{
    font-size: 20px;
    width: 40vw;
  }
}
@media screen and (max-width:500px) {
  .shop_button{
    font-size: 20px;
    width: 50vw;
  }
}
